*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ml/training/data/
ml/training/flac_D/
ml/training/flac_T/
ml/training/src/__pycache__/
.gradle/
.gradle-user/
.idea/
build/
app/build/
ml/training/data/
ml/training/flac_D/
ml/training/flac_T/
ml/training/src/__pycache__/
.gradle/
.gradle-user/
.idea/
build/
app/build/
